.reveal .slides {
    text-align: left;
}

.highlight, .highlight.highlight-blue {
    color: #1b91ff;
}

.highlight.highlight-red {
    color: #ff2c2d;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: inherit;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}